<div class="container">
  <div class="child">
    <a class="link" [routerLink]="['/class-binding']">
      Class binding
    </a>
    <a class="link" [routerLink]="['/style-binding']">
      Style binding
    </a>
    <a class="link" [routerLink]="['/style-concent']">
        Style content
    </a>
    <a class="link" [routerLink]="['/routing/900/500']">
        Routing
    </a>
    <a class="link" [routerLink]="['/child-function-call-from-parent']">
        Child function call from parent
    </a>
    <a class="link" [routerLink]="['/life-cycle']">
      Life cycle
    </a>
  </div>
</div>